body {
    box-sizing: border-box;
    background-color: #b22830;
    margin: 0;
    font-family: 'Bitter';
}
header {
    display: block;
    overflow: hidden;
    padding-top: 10px;
}
header a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
}
header li {
    list-style: none;
}
header .container {
    margin-left: 200px;
    margin-right: 200px;
    overflow: hidden;
}
.header-logo {
    display: inline-block;
    float: left;
}
.header-menu {
    display: inline-block;
    float: right;
}
.header-search-language {
    display: block;
    width: 100%;
    padding: 10px 0;
    text-align: right;
}
.header-navbar {
    display: block;
}
.search-box {
    display: inline-block;
    position: relative;
}
.language-bar {
    display: inline-block;
}
.menu-item {
    display: inline-block;
    padding: 10px 15px;
}
.header-navbar ul {
    margin: 0;
    padding: 0;
}
.search-box input {
    font-style: italic;
    border: none;
    padding: 5px 60px 5px 10px;
    outline: none;
}
.fa-search {
    position: absolute;
    top: 25%;
    right: 5%;
}
.section {
    display: block;
  height: 630px;
  width: 100%;
  position: relative;
  background-image: url("https://www.highlandscoffee.com.vn/vnt_upload/weblink/VIET.Brand_Campaign_WEBBANNER.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
}
.section::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0);
    z-index: 2;
}
.sc-container img {
    width: 100%;
    height: auto;
}
.cnth {
    color: #f1bc7a;
    text-transform: uppercase;
    border: solid 1px #f1bc7a;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 50px;
}