header {
  display: block;
  position: fixed;
  width: 100%;
  height: 101.4px;
  top: 0;
  right: 0;
  left: 0;
    z-index: 9999;
    text-align: center;
}
.header-container {
  overflow: hidden;
  background-color: #b22830;
  padding: 0 10%;
}
.header-logo {
  text-align: center;
  margin-top: 15px;
}
.menu-ul {
  padding: 0;
  margin: 0;
}
.menu-li {
  list-style: none;
  display: inline-block;
  padding: 10px;
}
.menu-li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}
[class*="col-"] {
  float: left;
  padding: 0 ;
}
.menu-li-content {
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  padding: 0 10%;
  margin-top: 12px;
  background-color: #53382c;
  z-index: 9999;
}
.menu-li:hover .menu-li-content {
  display: block  ;
}
.hover-item, .small-item {
  list-style: none;
}
.hover-item ul {
  padding: 0;
  margin: 0;
  line-height: 1.6 !important;
}
.small-item a {
  text-transform: capitalize;
}
.small-item i {
  color: #fff;
}
.hover-item {
  text-align: center;
}
.hover-item .title a {
  color: #f1bc7a;
  transition: all .5s linear;
}
.hover-item .title a:hover {
  color: #fff;
  transition: all .5s linear;
}
.fa-caret-right {
  color: #fff;
  display: none;
  transition: all .5s linear;
  float: left;
}
.hover-item ul li:hover .fa-caret-right {
  display: inline-block;
  transition: all .5s linear;
}
.phin {
  background-image: url('https://www.highlandscoffee.com.vn/skins/default/images/bgmenu.jpg?fbclid=IwAR05njNKn6gN0QKdGr-9JVtiMmDTeP19TTi7BoScVKZxhizqGikEjVstBh8');
}
.menu-li-content-ul {
  overflow: hidden;
  padding: 15px 0;
  margin: 0;
}
.hover-item .title {
  margin: 0;
}
.phin-container {
  padding: 25px;
}
#phin-sua-da-img {
  width: 100%;
}
.phin-sua-da a, .title-for-tncd a, .title-for-abu a {
  color: #f1bc7a;
  
  transition: all .3s linear;
}
.title-for-abu {
  margin-bottom: 15px;
}
.phin-sua-da a:hover, .title-for-tncd a:hover, .title-for-abu a:hover {
  color: #fff;
  transition: all .3s linear;
}
.phin-sua-da {
  margin-bottom: 15px;
}
#phin_sua_da {
  padding-bottom: 15px;
}
.container-for-tuhaodatviet-img {
  float: right;
}
.header-cart {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.auth {
  display: inline-block;
}
.auth a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.auth {
  border: solid .1px #ccc;
  padding: 10px;
  background-color: transparent;
  transition: all .5s linear;
  text-align: center;
  max-width: 150px;
}
.auth:hover {
  border: solid .1px #53382c;
  background-color: #53382c;
  cursor: pointer;
  transition: all .5s linear;
}
.dropdown-toggle {
  color: #fff;
  display: inline-block;
  align-items: center;
  padding: 0 30px 0 10px;
  position: relative;
  text-decoration: none;
  background-color: transparent;
  transition: all .5s linear;
}
.badge-danger {
  position: absolute;
  transform-origin: top right;
  /* right: .25rem; */
  margin-top: -.25rem;
  color: #fff;
  background-color: #53382c;
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .35rem;
  /* transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; */
  transition: all .5s linear;
  
}
.fa-shopping-cart {
  transform: scale(1.5);
}
.dropdown-toggle:hover .badge-danger {
  background-color: #fff;
  color: #b22830;
  transition: all .5s linear;
}
.menu-li:hover {
  background-color: #53382c;
}
.hover-div-containers {
  overflow: hidden;
  margin: 20px 0;
}
.news-hover-li {
  list-style: none;
}
.news-hover-li a {
  color: #f1bc7a;
  transition: all .5s linear;
}
.news-hover-li a:hover {
  color: #fff;
  transition: all .5s linear;
}
.news-container {
  display: inline-block;
  background-image: url('https://www.highlandscoffee.com.vn/skins/default/images/bgmenu.jpg?fbclid=IwAR05njNKn6gN0QKdGr-9JVtiMmDTeP19TTi7BoScVKZxhizqGikEjVstBh8');
  padding: 25px;
  float: right;
  text-align: left;
}
.news-container img {
  max-width: 150px;
}
.hover-item-news ul {
  padding: 0;
  margin: 0;
  text-align: center;
}
.news-hover-li {
  display: inline-block;
}
.tncd-small-li {
  list-style: none;
}
.tncd-small-li:hover .fa-caret-right {
  display: inline-block;
  transition: all .5s linear;
}
.tncd-small-li {
  transition: all .5s linear;
}
.hover-item-news ul {
  overflow: hidden;
}
.hover-item-news ul {
  text-align: left;
}
.fa-search {
  color: #fff;
  transition: all .3s linear;
}
.fa-search:hover {
  color: #53382c;
  transition: all .3s linear;
  cursor: pointer;

}
.menu-li-search {
  list-style: none;
  display: inline-block;
  padding: 10px;
}
.menu-li-search:hover {
  background-color: none;
  cursor: pointer;
}
.news-container .title a {
  color: #fff;
  transition: all .3s linear;
}
.news-container .title a:hover {
  color: #f1bc7a;
  transition: all .3s linear;
}
.header-tool-li-input input {
  font-style: italic;
  padding-left: 15px;
  min-width: 250px;
    height: 36px;
    border: none;
    border-bottom: solid 1px #e4e4e4;
    background-color: #f5f5f5;
    padding-right: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    outline: none;
}
.header-tool-li-input {
  position: relative;
  display: inline-block;
  
}
.header-tool-li-input button {
  position: absolute;
  top: 50%;
  right: 5px;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
}
.header-tool-language {
  display: inline-block;
}
.header-tool-language ul {
  display: inline-block;
  margin: 0;
  padding: 0 5px;
}
.header-tool-language ul li {
  display: inline-block;
  list-style: none;
  padding: 0 5px;
}
.header-tool {
  text-align: right;
  padding: 5px 0;
}
.header-tool-language ul {
  vertical-align: sub;
}
.img img {
  margin-bottom: -9px;
}