.content-for-modal {
  display: block;
  overflow: hidden;
  margin-top: 101.4px;
  background-color: #f2f2f2;
}
.modal-container {
  width: 500px;
  overflow: hidden;
  display: block;
  margin: 45px 10%;
  border-radius: 5px;
  background-color: #fff;
}
.modal-div-img img {
  width: 80px;
  height: 80px;
  
}
.modal-title {
  display: block;
  background-color: #b22830;
}
.modal-title h2 {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
.modal-div-loai {
  display: block;
}
.btn-plus, .btn-minus {
  position: relative;
  border: none;
}
.btn-plus::before {
  content: "\f067";
  font-family: fontawesome;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn-minus::before {
  content: "\f068";
  font-family: fontawesome;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-product-detail-container {
  margin: 0 15px;
}
.modal-product-detail {
  display: block;
  
}
.modal-div-img, .modal-div-name {
  display: inline-block;
  padding: 0 15px;
  list-style: none;
}
.modal-product-detail ul {
  padding: 0;
  margin: 0 -15px;
}
.modal-size-containner label, .modal-topping-container label {
  padding: 0 30px;
}
.modal-size-containner label span, .modal-topping-container label span {
  padding-left: 10px;
}
.modal-div-notes span {
  position: relative;
}
.modal-div-notes span::before {
  content: "\f040";
  font-family: fontawesome;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #b22830;
  transform: translate(-50%, -50%);
}
.modal-div-notes {
  display: block;
  overflow: hidden;
}
.modal-div-notes input {
  outline: none;
  border: 1px solid #000;
  width: 100%;
  max-width: 100%;
  padding-left: 40px;
  height: 40px;
}
.modal-div-notes span {
  width: 40px;
  height: 40px;
  background-color: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
.modal-title h2 {
  padding: 10px 15px;
}
.modal-div-count-add {
  overflow: hidden;
  display: block;
}
.modal-input-radio:after {
  width: 10px;
  height: 10px;
  border-radius: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: #fff;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.modal-input-radio:checked:after {
  content: "\f00c";
  font-family: fontawesome;
  width: 10px;
  height: 24px;
  border-radius: 15px;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  /* background-color: #b22830;  */
  color: #b22830;
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
.modal-size-containner input, .modal-topping-container input {
  position: relative;
}
.modal-product-detail, .modal-div-loai, .modal-div-size, .modal-div-topping, .modal-div-notes {
  border-bottom: .5px solid #ccc;
}
.modal-product-detail, .modal-div-loai, .modal-div-size, .modal-div-topping, .modal-div-notes, .modal-div-count-add {
  padding: 15px 0;
}
.modal-div-notes-container {
  position: relative;
}
.modal-div-notes input:focus {
  outline: none;
  border-color: #b22830;
}
label span {
  text-transform: capitalize;
}
[class*="modal-div-"] h3 {
  text-transform: capitalize;
}
.btn-plus, .btn-minus {
  width: 30px;
  height: 30px;
}
.btn-minus, .btn-plus, .modal-div-count span {
  padding: 0 5px;
}
.modal-div-count-container {
  position: relative;
  height: 30px;
}
.modal-div-count span {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  margin-left: 35px;
}
.modal-div-count .btn-minus {
  margin-left: 30px;
}
.modal-div-add {
  background-color: #b22830;
  color: #fff;
  padding: 15px;
  display: flex;
  opacity: .85;
}
.modal-div-add:hover {
  cursor: pointer;
  opacity: 1;
}
.modal-div-add button {
  border: none;
  background-color: transparent;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
.modal-div-add button:hover {
  cursor: pointer;
}
.modal-div-add span {
  text-align: right;
}
.btn-plus, .btn-minus {
  outline: none;
  background-color: #b22830;
  opacity: .25;
  border: none;
  color: #fff;
}
.btn-minus:hover, .btn-plus:hover {
  cursor: pointer;
  opacity: 1;
}
.modal-div-count-container {
  margin: 10px;
}
.modal-div-size h3 ,  .modal-div-topping h3, .modal-size-containner, .modal-topping-container, .modal-div-loai h3, .modal-div-loai-container {
  display: inline-block;
}
.modal-topping-container, .modal-size-containner, .modal-div-loai-container {
  float: right;
}