
.content-service {
  display: block;
  overflow: hidden;
}
.div-img-service {
  padding: 0;
  position: relative;
}
.div-img-service img {
    padding: 0;
    margin-bottom: -7px;
    margin-top: -10%;
    width: 100%;
}
.div-img-service::before {
  content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(to right, rgba(233,233,233,0) 0%,rgba(233,233,233,0) 0%,rgba(233,233,233,1) 100%);
}
.div-content-service {
  display: block;
  overflow: hidden;
  margin: 45px 10%;
}
.div-content-container-service {
  overflow: hidden;
}
.div-content-container-related ul {
  padding: 0 15px;
  margin: 0;
}
.div-content-container-related ul li {
  list-style: none;
}
.div-content-container-related ul li span {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}
.div-content-container-related ul li span {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 15px;
}
.div-content-container-related ul li {
  padding: 10px 0;
  position: relative;
}
.div-content-container-related, .div-content-container-main-service {
  padding: 0;
}
.div-content-container-main-container-service {
  padding: 0 15px;
}
.div-content-container-main-container-service h1 {
  color: #53382c;
  text-transform: uppercase;
  font-size: 40px;
}
.div-content-container-related ul li a img {
  width: 100%;
}
.div-content-container-main-service p {
  padding: 5px 0;
}
.service-link {
  text-decoration: none;
  color: #b22222;
}