.notification-container {
  box-sizing: border-box;
  position: fixed;
  top: 50% !important;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999999;
  width: 320px;
  padding: 0px 15px;
  max-height: calc(100% - 30px);
  overflow-x: hidden;
  overflow-y: auto;
}
.notification-container::-webkit-scrollbar {
  width: 0px;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}