.main {
  padding: 45px 10%;
  background-color: #fbedd7;
}
.container {
  overflow: hidden;
  display: block;
}
.main-title {
  display: block;
  font-size: 40px;
  margin: 0;
  padding-bottom: 20px;
  padding-top: 0;
  color: #53382c;
  text-align: left;
  text-transform: uppercase;
  font-weight: 700;
}
.xemsanpham {
  background-color: transparent;
  color: #b22830;
  border: solid 1px #b22830;
  text-transform: uppercase;
  transition: all 0.3s linear;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 250px;
  outline: none;
  text-decoration: none;
  background-color: transparent;
  text-transform: uppercase;
  padding: 8px 15px;
  transition: all 0.3s linear;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 250px;
  outline: none;
  text-align: center;
  display: block;
  margin-top: 30px;
}
.xemsanpham:hover {
  border: solid 1px #b22830;
  background-color: #b22830;
  color: #ffffff;
  transition: all 0.3s linear;
}
.main-tain a {
  outline: none;
}
.main-tain img {
  width: 100%;

}
.main-tain, .vertical-list {
  padding: 0;
}
.vertical-list {
  overflow: hidden;
}
.vertical-list ul {
  padding: 0;
  margin: 0;
}
.vertical-list li {
  display: block;
  list-style: none;
  overflow: hidden;
  padding: 15px;
}
.li-img {
  display: inline-block;
  width: 50%;
  float: left;
}
.li-img img {
  max-width: 150px;
  max-height: 150px;
}
.li-detail {
  display: inline-block;
  width: 50%;
  float: right;
}
.li-detail p {
  word-break: break-word;
}
.li-img img {
  width: 100%;
  height: 100%;
  transition: 1s;
  backface-visibility: hidden;
}
.li-img:hover img {
  transform: scale(1.1);
}
.li-detail a {
  text-decoration: none;
  color: #53382c;
  transition: all .3s linear;
}
.li-detail h3 {
  text-transform: uppercase;
  margin-top: 0;
}
.li-detail p {
  color: #000;
}
.li-detail a:hover {
  color: #b22830;
  transition: all .3s linear;
}
/* slick slide */

.slick-product {
  padding: 45px 10%;
  background-color: #fff;
}
.prd-div-img img {
  max-width: 80%;
  max-height: 80%;
}
.prd-item {
  padding: 15px;
}
.prd-div-img {
  border: .1px solid #ccc;
}
.slick-prev:before {
  content: '\f104' !important;
}
.slick-prev , .slick-next {
  position: absolute;
  top: 0;
  width: 40px;
  height: 40px;
  border: none;
  background: #e5e5e5;
  font-size: 0;
  z-index: 1;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  color: #333333;
}
.slick-next:before {
  content: '\f105' !important;
}
.slick-prev:hover {
  background: #b22830;
    color: #ffffff;
}
.slick-next:hover {
  background: #b22830;
    color: #ffffff;
}
.slick-list {
  margin: 0 -15px;
  padding-top: 30px;
}
.slick-next {
  right: 0 !important;
}
.slick-prev {
  top: 0;
    right: 45px !important;
    left: inherit;
}
.slick-next:before, .slick-prev:before {
  font-family: fontAwesome;
  font-size: 20px;
  line-height: 1;
  opacity: 1 !important;
  color: #000;
}
.slick-prev:hover .slick-prev:before {
  color: #fff !important;
}
.prd-div-img {
  position: relative;
  height: 400px;
}
.prd-div-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 1s;
}
.slick-slide div {
  outline: none;
}
.prd-div-img:hover img {
  transform: translate(-50%, -50%) scale(1.1);
}
.prd-item h2 {
  text-transform: uppercase;
  color: #53382c;
  margin: 20px 0 10px;
  font-weight: bold;
}
.prd-item h2 a {
  text-decoration: none;
  color: #53382c;
  transition: all .3s linear;
}
.prd-item h2 a:hover {
  color: #f14a50;
  transition: all .3s linear;
}


/* #f14a50 */