#myBtn {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9999;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: #fff;
  cursor: pointer;
  padding: 15px;
  height: 50px;
  width: 50px;
  transition: all .5s linear;
}

#back-to-top-btn:hover {
  background-color: #b22830;
  bottom: 5px;
  transition: all .5s linear;
}

#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9999;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: #fff;
  cursor: pointer;
  padding: 15px;
  height: 50px;
  width: 50px;
  transition: all .5s linear;
  


  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
}
#back-to-top-btn:hover, #back-to-top-btn:focus {
background-color: #333;
color: #fff; 
transition: all .5s linear; 
}
#back-to-top-btn::before {
  content: "\f106";
  font-family: fontawesome;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all .5s linear;
}
@media(max-width: 992px) {
  .container { padding: 20px 100px; }
  #back-to-top-btn { font-size: 22px; width: 40px; height: 40px; /*bottom: 15px; right: 15px; */
    transition: all .5s linear;}
}
@media(max-width:768px) {
body { font-size: 16px; }
.container { padding: 10px 50px; }
h1 { font-size: 26px; }
h2 { font-size: 22px; }
hr { margin: 30px 0; }
#back-to-top-btn { font-size: 18px; width: 32px; height: 32px; transition: all .5s linear;}
}

/* Animations */
.btnEntrance {
animation-duration: 0.5s;
animation-fill-mode: both;
animation-name: btnEntrance;
transition: all .5s linear;
}
/* zoomIn */
/* @keyframes btnEntrance { 
from {
opacity: 0;
transform: scale3d(0.3, 0.3, 0.3);
}
to {
opacity: 1;
}    
} */

/* fadeInUp */
@keyframes btnEntrance {
from {
opacity: 0;
transform: translate3d(0, 100%, 0);
}
to {
opacity: 1;
transform: translate3d(0, 0, 0);
}
}

.btnExit {
animation-duration: 0.25s;
animation-fill-mode: both;  
animation-name: btnExit;
transition: all .5s linear;
}
/* zoomOut */
/* @keyframes btnExit {
from {
opacity: 1;
}
to {
opacity: 0;
transform: scale3d(0.3, 0.3, 0.3);
}
} */

/* fadeOutDown */
@keyframes btnExit {
  from {
  opacity: 1;
  }
  to {
  opacity: 0;
  transform: translate3d(0, 100%, 0);
  }
}

