.content-for-card {
  background-color: #f2f2f2;
  display: block;
  overflow: hidden;
  margin-top: 101.4px;
}
.order-container {
  /* margin: 45px 10%; */
  overflow: hidden;
}
.div-xemgiohang {
  display: block;
  overflow: hidden;
  border: solid .1px #ccc;
  text-align: center;
  background-color: #b22830;
}
.div-xemgiohang h3 {
  color: #fff;
  padding: 15px 0;
}
.div-img-order {
  text-align: center;
}
.div-img-order img {
  width: 100px;
  margin-top: 15px;
}
.cart-detail li {
  list-style: none;
  overflow: hidden;
  border-top: solid .1px #ccc;
}
.div-product-details {
  margin: 15px 0;
}
.name-size p {
  font-style: italic;
  padding: 5px 0;
}
.cart-detail li:first-child {
  border-top: none;
}
.cart-detail li:last-child {
  border-bottom: none
}
.ship {
  display: inline-block;
  width: 50%;
  float: left;
  text-transform: uppercase;
  font-weight: bold;
}
.ship-fee {
  display: inline-block;
  width: 50%;
  float: left;
  text-align: right;
}
.div-ship {
  overflow: hidden;
  /* padding: 15px 0; */
}
.div-voucher {
  display: block;
  overflow: hidden;
  min-height: 40px;
  width: 100%;
  
}
.div-voucher input {
  display: inline-block;
  height: 40px;
  width: calc(100% - 150px);
  padding: 0 15px;
  outline: none;
  border: solid 1px #000;
}
.btn-voucher {
  display: inline-block;
  height: 40px;
  width: 150px;
  border: solid 1px #b22830;
  background-color: #b22830;
  color: #fff;
  text-transform: uppercase;
  transition: all .3s linear;
}
.div-ship, .div-voucher {
  margin: 10px 0;
}
.total {
  display: block;
  width: 100%;
}
.div-total {
  display: inline-block;
  width: 50%;
}
.total-small {
  display: inline-block;
  width: 50%;
  float: left;
  text-transform: uppercase;
  font-weight: bold;
}
.total-fee {
  display: inline-block;
  width: 50%;
  float: left;
  text-align: right;
}
.totall, .total {
  padding: 10px 15px;
  overflow: hidden;
}
.btn-voucher:hover {
  cursor: pointer;
  border: solid .1px #53382c;
  background-color: #53382c;
  transition: all .3s linear;
}

.paypaypay {
  border: solid .1px #ccc;
  margin-top: 15px;
  padding: 15px;
}
.pay-container {
  display: block;
  padding: 5px 0;
}
.quantity {
  display: inline-block;
  margin-right: 60px;
  text-align: center;
  margin: 6px 0;
  padding: 0;
  text-align: right;
}
.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}
.quantity button {
  width: 30px;
    height: 30px;
    background-color: #f2f2f2;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    outline: none;
    transition: all .3s linear;

}.quantity i {
  margin-top: 2px;
  color: #b3b3b3;
}
.input-count {
  outline: none;
}
.quantity button:hover {
  background-color: #b22830;
  transition: all .3s linear;
}
.quantity button:hover i {
  color: #fff;
  transition: all .3s linear;
}
.name-size h3 a {
  text-transform: uppercase;
  color: #b22830;
text-decoration: none;  
}
.grid-layout {
  overflow: hidden;
}

.cart-detail {
  overflow: hidden;
    float: right;
    position: fixed;
    right: 0;
    padding-top: 0;
    height: 100%;
    z-index: 1000;
}
.force-overflow-order {
  padding: 0;
  padding-right: 15px;
}
.card-detail-container {
  margin: 15px;
  background-color: #fff;
}
.product-order-page-container {
  margin: 15px;
  background-color: #fff;
  padding: 15px;
  overflow: hidden;
}
.product-order-page-container ul {
  padding: 0;
  overflow: hidden;
}
.product-order-page-container ul li {
  list-style: none;
  overflow: hidden;
}
.name-size h4 {
  text-transform: uppercase;
  color: #b22830;
  text-decoration: none;  
}
.div-mon-moi {
  display: block;
  overflow: hidden;
  border-bottom: solid .1px #ccc;
}
.div-mon-moi h3 {
  color: #000;
  padding: 15px 0;
  font-style: italic;
}
.product-order-page {
  float: left;
}
.product-order-page-container ul li {
  border-bottom: solid .1px #ccc;
  transition: all .5s linear;

}
.product-order-page-container ul li:hover {
  cursor: pointer;
}
.product-order-page-container ul li:hover {
  background: linear-gradient(to right , transparent 0%,#f2f2f2  25%,#f2f2f2 50%, #f2f2f2 25%, transparent 100%);
  transition: all .5s linear;
}
.product-order-page-container ul li a .name-size p {
  color: #000;
}
.product-order-page-container ul li:last-child {
  border-bottom: none
}
.product-div-search input {
  height: 40px;
  width: 100%;
  max-width: 100%;
  outline: none;
  padding: 0 15px 0 40px;
}
.product-div-search {
  display: block;
  position: relative;
}
.product-div-search span {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 0;
  left: 0;
  bottom: 0;
}
.product-div-search span::before {
  content: "\f002";
  font-family: fontawesome;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
}
@media (max-width: 767px) {
  .cart-detail {
    padding-bottom: 503px;
  }
}
#scroll-order {
  overflow-y: auto;
  max-height: 500px;
}