.content-for-card {
  background-color: #f2f2f2;
  display: block;
  overflow: hidden;
  margin-top: 101.4px;
}

.order-container {
  margin: 45px 5%;
  overflow: hidden;
}


.cart-detail li {
  list-style: none;
  overflow: hidden;
  border-top: solid .1px #ccc;
}

.cart-detail li:first-child {
  border-top: none;
}

.cart-detail li:last-child {
  border-bottom: none
}

.grid-layout {
  overflow: hidden;
}


.force-overflow-order {
  padding: 0;
  margin-top: 15px;
}

.product-order-page-container {
  margin: 15px;
  background-color: #fff;
  padding: 15px;
  overflow: hidden;
}

.product-order-page-container ul {
  padding: 0;
  overflow: hidden;
  overflow-y: auto;
  max-height: 604px;
}

.product-order-page-container ul li {
  list-style: none;
  overflow: hidden;
}

.div-mon-moi {
  display: block;
  overflow: hidden;
  border-bottom: solid .1px #ccc;
}

.div-mon-moi h3 {
  color: #000;
  padding: 15px 0;
  font-style: italic;
}

.product-order-page {
  float: left;
}

.product-order-page-container ul li {
  border-bottom: solid .1px #ccc;
  transition: all .5s linear;
}

.product-order-page-container ul li:hover {
  cursor: pointer;
}

.product-order-page-container-ul-li-item:hover {
  background: linear-gradient(to right, transparent 0%, #f2f2f2 25%, #f2f2f2 50%, #f2f2f2 25%, transparent 100%);
  transition: all .5s linear;
}

.product-order-page-container ul li:last-child {
  border-bottom: none
}

.product-div-search input {
  height: 40px;
  width: 100%;
  max-width: 100%;
  outline: none;
  padding: 0 15px 0 40px;
  border: .5px solid #ccc;
}

.product-div-search {
  display: block;
  position: relative;
}

.product-div-search .product-div-search-first {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 0;
  left: 0;
  bottom: 0;
}

.product-div-search .product-div-search-first::before {
  content: "\f002";
  font-family: fontawesome;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
}

.product-div-search .product-div-search-last {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: .5;
}

.product-div-search .product-div-search-last:hover {
  cursor: pointer;
  opacity: 1;
}

.product-div-search .product-div-search-last::before {
  content: "\f00d";
  font-family: fontawesome;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
}

.product-order-page-container ul::-webkit-scrollbar {
  width: 0px;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

.force-overflow-order li {
  margin: 0 15px;
}

.div-img-order {
  text-align: center;
  padding: 0 15px;
}

.div-img-order img {
  width: 100px;
  margin-top: 15px;
}

.div-product-details {
  margin: 15px 0;
  padding: 0 15px;
}

/* ------------- */

.div-img-order-right {
  text-align: center;
}

.div-img-order-right img {
  width: 100%;
  margin-top: 15px;
}

.div-product-details-right {
  margin: 15px 0;
}


.name-size h4 {
  text-transform: uppercase;
  color: #b22830;
  text-decoration: none;
}

.product-order-page-container ul li a .name-size p {
  color: #000;
}
