.section4-content {
  overflow: hidden;
}

.content {
  display: block;
  overflow: hidden;
  margin-top: 101.4px;
}

.section1-content {
  display: block;
  position: relative;
  margin-bottom: -7px;
}

.cnth {
  position: absolute;
  color: #f1bc7a;
  text-transform: uppercase;
  border: solid 1px #f1bc7a;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px 50px;
  transition: all .5s ease-in-out;
  top: 73%;
  left: 52%;
  transform: translate(-50%, -50%);
}

.cnth:hover {
  background-color: #f1bc7a;
  color: #000;
  transition: all .5s ease-in-out;
}

/* section 2 */

.section2-content {
  display: block;
  position: relative;
}

.caption {
  position: absolute;
  top: 75%;
  left: 25%;
}

#kpt {
  color: rgb(72, 98, 50);
  text-transform: uppercase;
  border: solid 1px rgb(72, 98, 50);
  text-decoration: none;
  border-radius: 5px;
  padding: 10px 50px;
  transition: all .5s ease-in-out;
}

#kpt:hover {
  color: #fff;
  background-color: rgb(72, 98, 50);
  transition: all .5s ease-in-out;
}

.section3-content {
  display: block;
  overflow: hidden;
  position: relative;
}

.kpt-red {
  color: #b22830;
  text-transform: uppercase;
  border: solid 1px #b22830;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px 50px;
  transition: all .5s ease-in-out;
  top: 73%;
  left: 60%;
}

.kpt-red:hover {
  color: #fff;
  background-color: #b22830;
  transition: all .5s ease-in-out;
}

/* section 4 */

.newstore {
  display: inline-block;
  background-image: url('https://www.highlandscoffee.com.vn/vnt_upload/weblink/homepage-STORE_1.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.okla {
  display: block;
  /* position: absolute;
  top: 50%;
  left: 50%;
  z-index: 9999;
  transform: translate(-50%, -50%); */
}

.okla-container {
  padding: 14% 10%;
}

.okla-container h1 {
  padding: 15px 0;
}

.okla-container-small {
  padding: 30px 10%;
}

.okla-container-small a, .okla-container-small h3, .okla-container-small p {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.img_near_footer {
  display: block;
  width: 100%;
}

.okla h1 {
  color: #fff;
  text-transform: uppercase;
}

.fa-angle-right {
  position: absolute;
  font-weight: bold;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.okla-container-small h3:hover, .okla-container-small p:hover, .okla-container-small a span:hover, .okla-container-small a i:hover {
  color: #f1bc7a;
}

.news {
  background-image: url("https://www.highlandscoffee.com.vn/vnt_upload/weblink/bg2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.find {
  padding-right: 15px;
}

.news-content .title {
  display: block;
  position: relative;
}

.title-h2 {
  text-transform: uppercase;
  color: #000;
  margin: 0;
}

.news-content div .title a {
  position: absolute;
  top: 0;
  right: 0;
  color: #53382c;
  font-weight: bold;
  transition: all .3s linear;
}

.news-content div .title a:hover {
  color: #b22830;
  transition: all .3s linear;
}

.listnews li {
  display: block;
  overflow: hidden;
  list-style: none;
  padding: 5px 0;
}

.test:hover {
  color: #b22830;
  transition: all 0.5s linear;
}

.listnews a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

.listnews a:hover {
  color: #b22830;
}

.div-content {
  display: inline-block;
}

.div-img-content {
  display: inline-block;
}

.div-content h3 {
  margin: 0;
}

.listnews ul {
  padding: 0;
  margin: 0;
}

.listnews ul li .div-img-content img {
  width: 100%;
  margin-left: -15px;
}

.formEmail {
  padding: 10px 0;
}

.div-content h4 {
  margin: 0;
}

.btn-Email {
  background-color: #53382c;
  color: #fff;
  text-transform: uppercase;
  border: none;
  outline: none;
  height: 36px;
  width: 130px;
  float: right;
}

.btn-Email:hover {
  background-color: #b22830;
}

.btn-Email span::before {
  content: "\f1d9";
  font-family: fontAwesome;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.btn-Email span {
  position: relative;
  padding-left: 20px;
}

.input-Email {
  font-style: italic;
  border: none;
  height: 36px;
  padding-left: 15px;
  width: calc(100% - 130px);
  outline: none;
  font-style: italic;
  border: none;
  border-bottom: solid 1px #e4e4e4;
  background-color: #f5f5f5;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.input-Email:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.newstore-div-img img {
  width: 100%;
  margin-bottom: -4px;
}

.calendar {
  position: relative;
}

.calendar i {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.calendar span {
  padding-left: 20px;
}

.slick-dots {
  bottom: 2%;
  margin-bottom: 4px;
}

/* 
.slick-active {
  border: solid .5px #fff;
}

*/

.slick-dots li button {
  width: 10px !important;
  height: 10px !important;
  background: #ffffff !important;
  border-radius: 100% !important;
  font-size: 0 !important;
  padding: 0 !important;
  border: none !important;
  position: relative !important;
  /* opacity: 0.5 !important; */
}

.slick-dots li button::before {
  content: "" !important;
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100% !important;
  -webkit-transition: all 0.3s linear !important;
  -o-transition: all 0.3s linear !important;
  transition: all 0.3s linear !important;
  opacity: 1;
}

.slick-dots li {
  display: inline-block;
}

.slick-dots li.slick-active button:before {
  border: solid 1px #ffffff !important;
  opacity: 1;
  color: #fff;
}

@media (max-width: 1023px) {
  #map {
    padding: 10px 0;
  }
  .cnth, #kpt, .kpt-red {
    display: none;
  }
}